<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('person.css') }}" media="all" data-keep="true"/>
    <script type="text/javascript" src="{{ static_url('person.js') }}" data-keep="true"></script>
</head>
<body>
<div id="container">
    <div id="main">
        <div id="main-wrap">
            <div id="person-list">
                {% if persons %}
                <table class="table table-hover v_middle table-bordered tablesorter">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>手机</th>
                        <th>邮箱</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operator in operators %}
                    <tr>
                        <td>{{ operator.name }}</td>
                        <td>{{ operator.gender |gender }}</td>
                        <td>{{ operator.mobile }}</td>
                        <td>{{ operator.email }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>还没有人员</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
