<div id="product-list-page" style="margin: 20px auto 20px auto;width: 90%" data-refresh-url="/products">
    <div class="form-group col-md-2" style="margin-bottom: 20px;padding-left: 0">
        <select class="form-control categories">
            {% for category in categories %}
                <option value="{{ category }}" {{ 'selected' if category == current_category else '' }}>{{ category |category_type }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-2" style="line-height: 34px">
        <label>
            <input type="checkbox" id="show-hide-products" value="show-hide-products" {{ 'checked' if show_hide_products else '' }}>显示所有隐藏的商品
        </label>
    </div>
    <table class="table">
        <tr>
            <th>商品编码</th>
            <th>品类</th>
            <th>品牌</th>
            <th>商品名称</th>
            <th>操作</th>
        </tr>
        {% for product in products %}
            <tr class="product" data-id="{{ product.id }}">
                <td class="active">{{ product.id }}</td>
                <td class="active">{{ product.category |category_type }}</td>
                <td class="active">{{ product.brand }}</td>
                <td class="active">{{ product.name }}</td>
                <td class="active">
                    {% if product.promotion_id %}
                        <button id="product-{{ product.id }}" class="btn btn-warning promotion" data-product-id="{{ product.id }}">推广</button>
                    {% else %}
                        <button id="product-{{ product.id }}" class="btn btn-info promotion" data-product-id="{{ product.id }}">推广</button>
                    {% endif %}
                </td>
                <td class="active" data-product-id="{{ product.id }}">
                    {% if not product.hide %}
                        <button class="hide-product btn btn-danger">隐藏</button>
                    {% else %}
                        <button class="show-product btn btn-success">显示</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<script>
    $(document).ready(function () {
        veil.widget.handle('#product-list-page', '.categories', 'click', function (widget) {
            veil.widget.refresh($(widget), {data: {category: $(this).val()}});
        });
        veil.widget.handle('#product-list-page', '#show-hide-products', 'click', function(widget) {
            veil.widget.refresh($(widget), {data: {show_hide_products: Boolean($('#show-hide-products:checked').val())}});
        });
        veil.widget.handle('.product', '.hide-product', 'click', function (widget) {
            var this_ = this;
            veil.resource.update({
                url: '/hide-product',
                data : {product_id: $(widget).data('id')},
                onSuccess: function() {
                    $(this_).removeClass('hide-product').addClass('show-product');
                    $(this_).removeClass('btn-danger').addClass('btn-success');
                    $(this_).text('显示');
                }
            })
        });
        veil.widget.handle('.product', '.show-product', 'click', function (widget) {
            var this_ = this;
            veil.resource.update({
                url: '/show-product',
                data : {product_id: $(widget).data('id')},
                onSuccess: function() {
                    $(this_).removeClass('show-product').addClass('hide-product');
                    $(this_).removeClass('btn-success').addClass('btn-danger');
                    $(this_).text('隐藏');
                }
            })
        });
        veil.widget.handle('#product-list-page', '.promotion', 'click', function () {
            if ($(this).hasClass('btn-warning')) {
                alert('该商品已推广，请进入推广管理页面管理推广商品');
                return;
            } else {
                $.showDialog({
                    content: '/products/' + $(this).data('productId') + '/promotion',
                    width: '400px'
                })
            }
        });
        veil.event.subscribe('event-create-promotion', function (e, product_id) {
            $('#product-' + product_id).removeClass('btn-info').addClass('btn-warning');
        })
    });
</script>
